<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meryem Altundal | Portfolio</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body class="font-sans bg-softwhite text-gray-900">
    <slot />
  </body>
</html>
